block Home
  .container

    // "Hero" banner
    .hero.is-full
      .hero__content.grid.is-vertical.is-vertically-centered.has-text-center
        .column.is-full
          h1 Hola,

        .column.is-11.is-desktop-9.is-desktop-x-8.
          y bienvenido a mi sitio web. Soy un joven desarrollador apasionado por Lua, fan de GTK y usuario de (Arch) Linux. Mira (un poco) más sobre mí y mis proyectos.

      .hero__footer
        .Arrow-Track
          .Arrow-Container.has-text-center
            small(style="display: block;") Desplázate hacia abajo
            i.fas.fa-arrow-down

    // "About me" section
    .hero
      .hero__content.grid.has-centered
        .column.is-full.is-desktop-three-quarters
          h2 Sobre mí

          p Soy un venezolano apasionado por la programación con Lua. Soy bastante nuevo en el mundo de la programación, ya que recién comencé a incursionar en ella aproximadamente en el 2016, comenzando con cosas de la web como HTML y CSS, luego pasé por C y ahora estoy en Lua. Sinceramente, hay muchas cosas que aún no conozco, pero eventualmente planeo aprender sobre ello.

          p Conozco sobre GTK desde que empecé con C y desde entonces me encanta, aunque en su momento no entendía exactamente cómo funcionaba, hoy me resulta un poco más fácil entenderlo y utilizarlo.

          p También soy usuario de Linux desde hace tiempo (desde 2011 o 2012 aproximadamente), una de las distribuciones que me llamó la atención por aquel entonces fue Arch, pero no pude usarla hasta principios de 2020 ya que no tenía ni idea de cómo instalarla en mi portátil, así que la dejé "para cuando tenga más experiencia" (al final alguien me ayudó, sigo siendo un novato en Linux, lmao).

          p Actualmente vivo en Colombia y aquí he podido trabajar en pequeños proyectos personales.

    // "Portfolio"
    .hero
      .hero__content.grid.has-centered
        .column.is-11
          h2 Proyectos
          p Tenga en cuenta que no todos los proyectos están terminados.

        .column.is-11.grid
          .column.is-mobile-half.is-6
            h4 Moonplayer
            p [WIP] Reproductor de música con Gtk escrito en Lua
            a(href="https://github.com/Miqueas/Moonplayer") Código fuente

          .column.is-mobile-half.is-6
            h4 Logit
            p Utilidad de registro pequeña, sencilla y fácil de usar para Lua
            a(href="https://github.com/Miqueas/Logit") Código fuente

          .column.is-mobile-half.is-6
            h4 Self
            p Biblioteca OOP simple y compacta para Lua
            a(href="https://github.com/Miqueas/Self") Código fuente

          .column.is-mobile-half.is-6
            h4 Static
            p Soporte básico para tipado estático en Lua
            a(href="https://github.com/Miqueas/Static") Código fuente

          .column.is-mobile-half.is-6
            h4 Github-REST-API-Example
            p Ejemplo básico de la API REST de Github en varios idiomas
            a(href="https://github.com/Miqueas/Github-REST-API-Example") Código fuente

          .column.is-mobile-half.is-6
            h4 TermColors
            p Colorea la salida de tus scripts Lua con un marcado fácil de usar
            a(href="https://github.com/Miqueas/TermColors") Código fuente