block Scripts
  // For cookies
  script(src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js")
  script(src="Static/Constants.js")
  script(src="Static/Say.js")
  script(src="Static/ES.js")
  script(src="Static/EN.js")
  script(src="Static/Router.js")
  script(src="Static/Main.js")