block Scripts
  // Vue.js
  script(src="https://cdn.jsdelivr.net/npm/vue@2")
  // Markdown integration with Vue.js
  // script(src="https://cdn.jsdelivr.net/npm/@adapttive/vue-markdown@3.0.3/dist/vue-markdown.js")
  // Custom JS
  script(src="Static/Main.js")