:root {
  font-family: "League Spartan", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.2;

  color-scheme: dark light;
  color: #16161b;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 32pt;
  font-weight: 900;
}

#root {
  height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fafafa;
    background-color: #16161b;
  }
}