block header
  h1 Miqueas Martinez
  p: em Open Source Developer
  //- Social links
  ul.list-unstyled.list-inline
    //- Github
    li.list-inline-item
      a(target="_blank" rel="nofollow" href="https://github.com/Miqueas").link-light 
        i(style="font-size: 24px;").bi.bi-github
    //- Telegram
    li.list-inline-item
      a(target="_blank" rel="nofollow" href="https://t.me/M1que4s").link-light 
        i(style="font-size: 24px;").bi.bi-telegram
    //- Mastodon
    li.list-inline-item
      a(target="_blank" rel="nofollow" href="https://mas.to/@M1que4s").link-light 
        i(style="font-size: 24px;").bi.bi-mastodon
    //- Twitter
    li.list-inline-item
      a(target="_blank" rel="nofollow" href="https://twitter.com/M1que4s").link-light 
        i(style="font-size: 24px;").bi.bi-twitter
    //- Email
    li.list-inline-item
      a(target="_blank" rel="nofollow" href="mailto:miqueas2020@yahoo.com").link-light 
        i(style="font-size: 24px;").bi.bi-envelope-fill